section {
  margin: 6% 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//FONTS

h1 {
  font-size: 40px;
  font-size: 3.6vw;
}

h2 {
  font-size: 30px;
  font-size: 2.7vw;
}

h3 {
  font-size: 25px;
  font-size: 2vw;
}

h4 {
  font-size: 18px;
  font-size: 1.5vw;
}

p {
  font-size: 16px;
  font-size: 1.3vw;
}

//End of FONTS

img {
  max-width: auto;
  height: auto;
}

header {
  background-image: url("../images/background2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 15px 5% 15px;
  text-align: center;
  color: $white;
  a {
    color: $white;
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    display: inline;
    padding: 0 10px;
    font-size: 14px;
  }
}
.header-text {
  width: 70%;
  padding-left: 15%;
  padding-top: 2%;
}

.btn {
  background-color: $midpurple;
  padding: 10px;
  border-radius: 12px;
}

.btn a {
  font-size: 12px;
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
}

.grid {
  display: grid;
}

footer {
  flex-shrink: 0;
  background-color: $lightpurple;
  padding: 2% 7%;
  color: white;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img {
      padding-left: 15%;
    }
  }

  #heart {
    color: red;
    padding: 0 3px;
  }

  ul li {
    list-style: none;
    padding-bottom: 15px;
  }

  a {
    color: white;
  }

  a:hover {
    color: $aqua;
  }

  .footer-social {
    a {
      color: black;
    }
    li {
      display: inline-block;
      padding: 5%;
    }
    #li:hover {
      color: #0077b5;
    }
    #medium:hover {
      color: #00ab6b;
    }
    #github:hover {
      color: #333;
    }
    #twitter:hover {
      color: #55acee;
    }
  }

  #made_by {
    margin: 0;
    padding-top: 25px;
  }
}
footer > p {
  text-align: center;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .menu {
    justify-content: space-around;
  }
}

@media all and (max-width: 660px) {
  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4.5vw;
  }

  h4 {
    font-size: 4vw;
  }

  p {
    font-size: 2.6vw;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .menu {
    flex-direction: column;
  }

  p {
    font-size: 3.5vw;
  }

  footer {
    .grid {
      grid-template-columns: 1fr 1fr;
      // grid-template-columns: 1fr 300px;
    }
    .footer-social {
      grid-column: 1/-1;
    }
  }
}
