html {
  font-size: 16px;
}

section {
  margin: 6% 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//FONTS

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

//End of FONTS

img {
  max-width: auto;
  height: auto;
}

header {
  background-image: url("../images/cool-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 15px 5% 15px;
  text-align: center;
  height: 60vh;
  color: $white;
  a {
    color: $white;
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .menu {
    display: flex;
    justify-content: flex-end;
    li {
      display: inline;
      padding: 0 10px;
      font-size: 14px;
    }
  }
}

.hamburger {
  padding-top: 10px;
}

.header-text {
  width: 70%;
  padding-left: 15%;
  padding-top: 2%;
}

.btn {
  background-color: $midpurple;
  padding: 10px;
  border-radius: 12px;
}

.btn a {
  font-size: 12px;
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
}

.grid {
  display: grid;
}

footer {
  flex-shrink: 0;
  background-color: $lightpurple;
  padding: 2% 7%;
  color: white;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img {
      padding-left: 15%;
    }
  }

  #heart {
    color: red;
    padding: 0 3px;
  }

  ul li {
    list-style: none;
    padding-bottom: 15px;
  }

  a {
    color: white;
  }

  a:hover {
    color: $aqua;
  }

  .footer-social {
    a {
      color: black;
    }
    li {
      display: inline-block;
      padding: 5%;
    }
    #li:hover {
      color: #0077b5;
    }
    #medium:hover {
      color: #00ab6b;
    }
    #github:hover {
      color: #333;
    }
    #twitter:hover {
      color: #55acee;
    }
  }

  #made_by {
    margin: 0;
    padding-top: 25px;
  }
}
footer > p {
  text-align: center;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .menu {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  nav {
    grid-template-columns: 1fr 150px;
    .mobilemenu {
      .hamburger {
        float: right;
      }
      .menu {
        display: flex;
        flex-direction: column;
        float: left;
        li {
          padding-bottom: 5px;
        }
      }
    }
  }

  .header-text {
    padding-top: 10%;
  }

  footer {
    .grid {
      grid-template-columns: 1fr 1fr;
      // grid-template-columns: 1fr 300px;
    }
    .footer-social {
      grid-column: 1/-1;
    }
  }
}
