html {
  font-size: 16px;
}

section {
  margin: 6% 0;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

//FONTS

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

//End of FONTS

img {
  max-width: auto;
  height: auto;
}

header {
  background-image: url("../images/cool-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 15px 5% 15px;
  text-align: center;
  height: 65vh;
  color: $white;
  a {
    color: $white;
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    float: left;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    li {
      display: inline;
      padding: 0 10px;
      font-size: 16px;
    }
  }
}

.hamburger {
  padding-top: 10px;
  float: right;
}

.overlay {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-text {
  width: 70%;
  padding-left: 15%;
  padding-top: 2%;
}

.heading {
  font-size: 40px;
}

.btn {
  background-color: $midpurple;
  padding: 10px;
  border-radius: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $lightpurple;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  a {
    font-size: 12px;
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 100vh;
}

.grid {
  display: grid;
}

.next {
  padding: 0 5%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  p {
    font-size: 18px;
  }
  a {
    color: $midpurple;
    &:visited,
    &:active {
      color: $midpurple;
    }
  }
  span {
    padding-left: 10px;
  }
}
footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: $lightpurple;
  padding: 2% 7%;
  color: white;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img {
      padding-left: 15%;
    }
  }

  #heart {
    color: red;
    padding: 0 3px;
  }

  ul li {
    list-style: none;
    padding-bottom: 15px;
  }

  a {
    color: white;
  }

  a:hover {
    color: $aqua;
  }

  .footer-social {
    a {
      color: black;
    }
    li {
      display: inline-block;
      padding: 5%;
    }
    #li:hover {
      color: #0077b5;
    }
    #medium:hover {
      color: #00ab6b;
    }
    #github:hover {
      color: #333;
    }
    #twitter:hover {
      color: #55acee;
    }
  }

  #made_by {
    margin: 0;
    padding-top: 25px;
  }
}
footer > p {
  text-align: center;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .menu {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .heading {
    font-size: 30px;
  }
  .subheading {
    font-size: 20px;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  nav {
    grid-template-columns: 1fr 150px;
    .mobilemenu {
      .close {
        float: right;
        position: absolute;
        top: 5%;
        right: 5%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        height: 65vh;

        li {
          padding-bottom: 15px;
          font-size: 10px;
        }
      }
    }
  }

  .heading {
    font-size: 25px;
  }

  .subheading {
    font-size: 15px;
  }

  .header-text {
    padding-top: 10%;
  }

  footer {
    .grid {
      grid-template-columns: 1fr 1fr;
      // grid-template-columns: 1fr 300px;
    }
    .footer-social {
      grid-column: 1/-1;
    }
  }
}
