.developed {
  padding-bottom: 5%;

  h2 {
    text-align: left;
  }

  .grid {
    grid-template-columns: minmax(100px, 300px) minmax(100px, 300px) minmax(
        100px,
        300px
      );
    gap: 25px;

    .grid-items {
      border: 1px solid grey;
    }

    .developed-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 10%;
      background-color: $blue;
      border: none;
    }

    .developed-text {
      margin: 5%;
    }
  }
}

//Featured Section
.featured {
  @include slanted_left;

  &:before {
    @include slanted_left_before;
  }

  h3 {
    color: $grey;
  }

  .grid {
    padding-bottom: 5%;
  }
}

.testimonials {
  padding-top: 5%;
  .grid {
    grid-template-columns: 250px 250px;
    gap: 80px;
    .grid-container {
      background-color: white;
      border: 1px solid grey;
      #quote {
        text-align: left;
      }
    }
    .grid-container-info {
      background-color: $midpurple;
      padding: 10%;
      color: white;
      margin: 10px;
    }
  }
}

/* Small screens */
@media all and (max-width: 660px) {
  .developed .grid {
    @include mobile_grid;
    padding-bottom: 6%;
  }
  .featured .grid {
    @include mobile_grid;
  }
  .testimonials .grid {
    @include mobile_grid;
    padding-bottom: 6%;
  }
}

/* Medium screens */
@media all and (min-width: 661px) and (max-width: 1100px) {
  .developed {
    padding: 0 5%;
  }
}
