@import "variables";

.service_text {
  width: 80%;
  padding-left: 10%;
}

.packages {
  @include slanted_left;
  .grid {
    grid-template-columns: minmax(200px, 300px) minmax(200px, 300px) minmax(
        200px,
        300px
      );
    gap: 30px;
    text-align: center;
    div {
      background-color: white;
      padding: 5%;
    }
  }
  &:before {
    @include slanted_left_before;
  }
}

.package_type {
  margin: 6%;

  hr {
    width: 100px;
    margin-bottom: 0;
    background-color: #353839;
    height: 1px;
    border: 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }
  .heading {
    text-align: center;
    background-color: $midpurple;
    padding: 35px;

    h4 {
      margin: 0;
    }
  }
  .development_text {
    background-color: $lightpurple;
    padding: 15px;
  }
  .pages {
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
  ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;
  }

  li {
    padding-left: 44px;
    padding-top: 3px;
    height: 40px;
  }
  .check {
    background: url("../images/icons8-ok-32.png") no-repeat left top;
  }
}

#development {
  text-align: left;
  padding-bottom: 3%;
  &:hover {
    text-decoration: underline;
    color: $lightpurple;
    cursor: pointer;
  }
}

.custom_code {
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

.custom {
  padding: 0 5%;

  &.grid {
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(
        100px,
        200px
      );
  }
}

.section_padding {
  padding: 5%;
}

.process {
  @include slanted_left;

  .process-inline {
    display: flex;
    text-align: center;
    padding-top: 4%;
  }

  &:before {
    @include slanted_left_before;
  }

  div {
    padding: 0 3%;
  }

  a {
    color: black;
    &:hover {
      color: $grey;
    }
  }
}

/**FAQ**/
.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Small screens */
@media all and (max-width: 660px) {
  .package_type {
    padding-bottom: 10%;
    .grid {
      @include mobile_grid;
    }
  }
  .packages .grid {
    @include mobile_grid;
  }
  .custom .grid {
    @include mobile_grid;
  }
  .service_text {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

/* Medium screens */
@media all and (min-width: 661px) and (max-width: 1100px) {
  .package_type .grid {
    gap: 30px;
  }

  .packages {
    padding-left: 5%;
    padding-right: 5%;
  }
}
